<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>
  <display-name>Archetype Created Web Application</display-name>
  <servlet>
  	<servlet-name>ControllerAcceso</servlet-name>
  	<display-name>ControllerAcceso</display-name>
  	<description></description>
  	<servlet-class>com.laboratorio2p3.controladores.ControllerAcceso</servlet-class>
  </servlet>
  
  <servlet>
  	<servlet-name>ControllerProveedores</servlet-name>
  	<display-name>ControllerProveedores</display-name>
  	<description></description>
  	<servlet-class>com.laboratorio2p3.controladores.ControllerProveedores</servlet-class>
  </servlet>
  
  <servlet>
  	<servlet-name>ControllerEmpleados</servlet-name>
  	<display-name>ControllerEmpleados</display-name>
  	<description></description>
  	<servlet-class>com.laboratorio2p3.controladores.ControllerEmpleados</servlet-class>
  </servlet>
  
   <servlet>
  	<servlet-name>ControllerClientes</servlet-name>
  	<display-name>ControllerClientes</display-name>
  	<description></description>
  	<servlet-class>com.laboratorio2p3.controladores.ControllerClientes</servlet-class>
  </servlet>
  
  <servlet>
  	<servlet-name>ControllerUsuarios</servlet-name>
  	<display-name>ControllerUsuarios</display-name>
  	<description></description>
  	<servlet-class>com.laboratorio2p3.controladores.ControllerUsuarios</servlet-class>
  </servlet>
  
  
  
  
  
  
  <servlet>
  	<servlet-name>ControllerShowProveedores</servlet-name>
  	<display-name>ControllerShowProveedores</display-name>
  	<description></description>
  	<servlet-class>com.laboratorio2p3.controladores.ControllerShowProveedores</servlet-class>
  </servlet>
  
  <servlet>
  	<servlet-name>ControllerShowEmpleados</servlet-name>
  	<display-name>ControllerShowEmpleados</display-name>
  	<description></description>
  	<servlet-class>com.laboratorio2p3.controladores.ControllerShowEmpleados</servlet-class>
  </servlet>
  
  <servlet>
  	<servlet-name>ControllerShowClientes</servlet-name>
  	<display-name>ControllerShowClientes</display-name>
  	<description></description>
  	<servlet-class>com.laboratorio2p3.controladores.ControllerShowClientes</servlet-class>
  </servlet>
  
  <servlet>
  	<servlet-name>ControllerMarcas</servlet-name>
  	<display-name>ControllerMarcas</display-name>
  	<description></description>
  	<servlet-class>com.laboratorio2p3.controladores.ControllerMarcas</servlet-class>
  </servlet>
  
  <servlet>
  	<servlet-name>ControllerSaveUpdateProveedores</servlet-name>
  	<display-name>ControllerSaveUpdateProveedores</display-name>
  	<description></description>
  	<servlet-class>com.laboratorio2p3.controladores.ControllerSaveUpdateProveedores</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>ControllerShowUsuarios</servlet-name>
  	<display-name>ControllerShowUsuarios</display-name>
  	<description></description>
  	<servlet-class>com.laboratorio2p3.controladores.ControllerShowUsuarios</servlet-class>
  </servlet>

  


  <servlet-mapping>
  	<servlet-name>ControllerAcceso</servlet-name>
  	<url-pattern>/ControllerAcceso</url-pattern>
  </servlet-mapping>
  
  <servlet-mapping>
  	<servlet-name>ControllerProveedores</servlet-name>
  	<url-pattern>/ControllerProveedores</url-pattern>
  </servlet-mapping>
  
  <servlet-mapping>
  	<servlet-name>ControllerEmpleados</servlet-name>
  	<url-pattern>/ControllerEmpleados</url-pattern>
  </servlet-mapping>
  
   <servlet-mapping>
  	<servlet-name>ControllerClientes</servlet-name>
  	<url-pattern>/ControllerClientes</url-pattern>
  </servlet-mapping>
  
  <servlet-mapping>
  	<servlet-name>ControllerUsuarios</servlet-name>
  	<url-pattern>/ControllerUsuarios</url-pattern>
  </servlet-mapping>
  
  <servlet-mapping>
  	<servlet-name>ControllerShowProveedores</servlet-name>
  	<url-pattern>/ControllerShowProveedores</url-pattern>
  </servlet-mapping>
  
  <servlet-mapping>
  	<servlet-name>ControllerShowEmpleados</servlet-name>
  	<url-pattern>/ControllerShowEmpleados</url-pattern>
  </servlet-mapping>
  
  <servlet-mapping>
  	<servlet-name>ControllerShowClientes</servlet-name>
  	<url-pattern>/ControllerShowClientes</url-pattern>
  </servlet-mapping>
  
  <servlet-mapping>
  	<servlet-name>ControllerMarcas</servlet-name>
  	<url-pattern>/ControllerMarcas</url-pattern>
  </servlet-mapping>
  
  <servlet-mapping>
  	<servlet-name>ControllerSaveUpdateProveedores</servlet-name>
  	<url-pattern>/ControllerSaveUpdateProveedores</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>ControllerShowUsuarios</servlet-name>
  	<url-pattern>/ControllerShowUsuarios</url-pattern>
  </servlet-mapping>
  
  
  
</web-app>
